.card-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.card-container h3 {
	text-shadow: 0 0 5px #b3e5fc, 0 0 10px #b3e5fc, 0 0 20px #b3e5fc, 0 0 30px #b3e5fc, 0 0 40px #b3e5fc, 0 0 50px #b3e5fc, 0 0 60px #b3e5fc;

}


.card1, .card2, .card3{
 width: 190px;
 height: 254px;
 box-shadow: 10px 20px 30px rgba(0,0,0,0.8);
 transition: all 400ms;
 margin-top: 60px;
 margin-bottom: 50px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 border-radius: 6px;
 padding: 30px;
 opacity: 0.8;
 flex: 1;
 margin-right: 30px;
 margin-left: 30px;
 flex-basis: 250px;
 flex-grow: 1;
 background-size: cover;
 background-position: center;

}

.card1:hover, .card2:hover, .card3:hover {
 opacity: 1;
 transform: scale(1.10);
}

.card1 {
	background-image: url("../../images/star.jpg");
}

.card2 {
	background-image: url("../../images/sky.jpg");
}

.card3 {
	background-image: url("../../images/light.jpg");
}

.cards {
    display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 70px;
	margin-bottom: 100px;

}

.bitcoin {
	background-image: url("../../images/bitcoin.png");
	background-size: cover;
	background-position: center;
	border: solid 1px #27c6f7;
    box-shadow: 0 0 30px #27c6f74d;
    position: relative;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    border-radius: 2rem;
    padding: 2rem;
}

.etherium {
	background-image: url("../../images/etherium.png");
	background-size: cover;
	background-position: center;
	border: solid 1px #27c6f7;
    box-shadow: 0 0 30px #27c6f74d;
    position: relative;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    border-radius: 2rem;
    padding: 2rem;
}


@media (max-width: 960px) {
  .card1, .card2, .card3, .bitcoin, .etherium {
    width: 700px;
  }
}
@media (max-width: 700px) {
  .card1, .card2, .card3, .bitcoin, .etherium {
    width: 300px;
  }
}
@media (max-width: 540px) {
  .card1, .card2, .card3, .bitcoin, .etherium {
    width: 100px;
  }
}