.container {
  margin: 70px auto;
	width: 700px;
}

.container2 {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
  background-color: rgba(34,48,79,0.5);
  padding: 30px;
  border-radius: 7px;
  border: solid 2px #50b6f6;
  box-shadow: 0 0 55px #50b6f659;
  align-items: center;
  display: flex;
  flex-basis: 200px;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: column;


}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.container p {
  font-style: italic;
  opacity: 0.7;
}